<form name="submit-player" action="new_game" method="post">
			<h1> What's your name? </h1>

			<input id="name-input" type="text" name="player" placeholder="name...">
			<div>
							<button id="Go!" name="submit-button" type="submit">	Go!</button>
			</div>
</form>